<!-- Toolbar -->
<div class="menu-wrap">
  <div *ngIf="visible" id="menu" class="toolbar" role="banner">
    <ul>
      <li *ngFor='let link of this.links'>
        <a href='{{ link.href }}'> {{ link.text }} </a>
      </li>
      <div *ngIf='contextual' class="contextual-menu input-group-sm">

        <hr />

        <div class="form-group row">
          <label for="" class="col-form-label">Update tile:</label>
          <div
            *ngFor="let morph of contextual.morphs"
            class="form-check">
            <input class="form-check-input"
              type="radio"
              name="obj-selector"
              id="obj-sel-none"
              value="{{ morph.symbol }}" />
            <label class="form-check-label"
              for="obj-sel-none">{{ morph.symbol }}</label>
          </div>

          <div class="form-check">
            <input class="form-check-input"
              checked
              type="radio"
              name="obj-selector"
              id="obj-sel-sym"
              value="{{ contextual.symbol }}" />
            <label class="form-check-label"
              for="obj-sel-sym">{{ contextual.symbol }}</label>
          </div>
        </div>



        <fieldset *ngIf="contextual.options" class="form-group row">
          <label for="" class="col-form-label">Additionally:</label>
          <div *ngFor='let option of contextual.options'>
            <button class="btn"
              id="{{ option.id }}">+</button>
            <label class="form-check-label"for="{{ option.id }}">{{ option.text }}</label>
          </div>
        </fieldset>

      </div>
    </ul>
  </div>
  <a id="menu-activator" (click)="onRenderToggle($event)">|||</a>
</div>
